
.chartImg{
  width:109px;
  height:57px;
  position: absolute; 
  bottom: 0px;
  right: 0px;
}
.item{
  background:#0B354C;
  display:flex;
  border-radius:10px;
  height:100px;
  width: 200px;
  position :relative;
  margin:10px;
}
